.login-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-signin {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
